<%- include('partials/header') %>
    <div id="participatingStudents" data-test=<%=participatingStudents %>></div>
    <div id="correctStudents" data-test=<%=correctStudents %>></div>


    <div class="container-fluid m-5 ">
        <div class="row">
            <div class="col-6">
                <embed class="mb-5" src="/uploads/<%=task.fileName%>" type="application/pdf"
                    style="width: 100%; height: 90vh;">
            </div>
            <div class="col-1">

            </div>
            <div class="col-5">
                <div>
                    <% if (totalStudents===participatingStudents){ %>
                        <h4 class="ms-5 mt-3 ps-5 pt-5">All the students participated</h4>
                    <%} else {%>
                        <h4 class="ms-5 mt-3 ps-5 pt-5">
                            <%=participatingStudents%> out of <%=totalStudents%> students participated
                        </h4>
                    <%}%>
                </div>
                <% if (parseInt(participatingStudents) > 0){ %>
                    <div class="ps-2 pt-2">
                        <canvas id="myChart" width="500" height="500"></canvas>
                    </div>
                    <div class="row mt-5">
                        <div>
                            <h5>View Report on a particular section of the pdf: </h5>
                        </div>
                        <form action="quizreportquery" method="post">
                            <div>
                                <select class="form-select w-25" name="page">
                                    <option value="">Select Page</option>
                                    <% for (var i=0; i < numberOfPages; i++){ %>
                                        <option value="<%=(i+1)%>">Page <%=(i+1)%>
                                        </option>
                                    <%}%>
                                </select>
                                <select class="form-select w-25 mt-2" name="section">
                                    <option value="">Select Section</option>
                                    <option value="top">Top</option>
                                    <option value="bottom">Bottom</option>
                                </select>
                            </div>
                            <div class="w-25">
                                <button type="submit" class="btn btn-primary w-75 mt-2">Go</button>
                            </div>
                        </form>
                    </div>
                <%}%>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        var participatingStudents = document.getElementById('participatingStudents').dataset.test;
        var correctStudents = document.getElementById('correctStudents').dataset.test;
        var wrongStudents = participatingStudents - correctStudents
        var correctStudentPercent = (correctStudents / participatingStudents) * 100
        var wrongStudentPercent = (wrongStudents / participatingStudents) * 100
        const result = [wrongStudents, correctStudents]
        const ctx = document.getElementById('myChart');

        const data = {
            labels: [
                'Correct Students (' + correctStudentPercent + "%)",
                'Wrong Students (' + wrongStudentPercent + "%)",
            ],
            datasets: [{
                label: `Out of ${participatingStudents}`,
                data: result,
                backgroundColor: [
                    'rgb(54, 162, 235)',
                    'rgb(255, 99, 132)',
                ],
                hoverOffset: 4
            }]
        };

        const config = {
            type: 'pie',
            data: data,
            options: {
                responsive: false,
            }
        };

        new Chart(ctx, config);
    </script>


    <%- include('partials/footer') %>